body {
  background: linear-gradient(to bottom, #fff, #cdcdcd);
  z-index: 0;
}

h1,
h4 {
  text-align: center;
}

#left-block h3 {
  color: blue;
}

.container {
  z-index: 2;
  width: 90%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: auto;
  box-shadow: 10px 5px 5px #c9c9c9;
}

#right-block {
  background-color: #e5e5e5;
  text-align: center;
  height: 250px;

  flex: 1;
}

#left-block {
  background-color: white;
  height: 250px;
  flex: 2;
}

#left-block h2,
p,
h3,
ul {
  margin-left: 2rem;
}

#right-block ul {
  list-style-type: none;
  padding-left: 0;
}

#right-block ul li::before {
  content: "* ";
}

#left-block ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

#left-block li {
  width: calc(50% - 10px); /* Adjust the width as needed */
  margin-bottom: 10px;
}

#booking {
  display: inline-block;
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  background-color: blue;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer;
  border-radius: 5px; /* Adjust border radius as needed */
}

#booking:hover {
  background-color: darkblue;
}
